/*@import url("reset.css");*/
@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");

body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
}

#burgertitle {
    display: inline;
    width: 100%;
    text-align: center;
    margin-top:60px;
}

header {
    z-index: -999;
    overflow: hidden;
}

header h1{
    padding-left: 5px;
    position: absolute;
    z-index: 999;
}

header img {
    width: 100%;
    height: auto;
}

.allergy {
    font-weight: bold;
}

#headermenu {
    text-align: left;
}

#headerpic {
    opacity: 0.8;
}
.burger{
    font-weight: bold;
    margin-bottom: 10px;
}

#order {
    margin-top: -20px;
    background-color: #000000;
    color: #ffffff;
    border: 1px dashed #ffffff;
}

#submit {
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: green;
    cursor: pointer;
}

.wrapper {
    display: grid;
    grid-gap: 300px;
    grid-template-columns: 100px 100px 100px;
    background-color: #000000;
    color: #000000;
}

.box {
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 100%;
}

.a {
    grid-column: 1 / span 2;
    grid-row: 1 /span 2;
    width: 200%;
}
.b {
    grid-column: 2 ;
    grid-row: 1 / span 2;
    width: 200%;
}
.c {
    grid-column: 3 ;
    grid-row: 1 / span 2;
    width: 200%;
}

section {
    margin: 5px;
    border: 1px dashed #000000;
    padding-left: 5px;
}