@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");

body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
}

.allergy {
    font-weight: bold;
}

#headermenu {
    text-align: left;
}

#order {
    background-color: #000000;
    color: #ffffff;
}

#contact {

}

#submit {
    margin-top: 5px;
}

button:hover {
    background-color: green;
    cursor: pointer;
}

table {
    width: 120%;
}

section {
    margin: 5px;
}