@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");

body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
}

header {
    padding-left: 5px;
    text-align: center;
}

.allergy {
    font-weight: bold;
}

#headermenu {
    text-align: left;
}

#headerpic {
    opacity: 0.8;
}

#order {
    background-color: #000000;
    color: #ffffff;
    border: 1px dashed #ffffff;
}

#contact {

}

#title {
    text-align: center;
}

#submit {
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: green;
    cursor: pointer;
}

table {
    width: 120%;
}

section {
    margin: 5px;
    border: 1px dashed #000000;
    padding-left: 5px;
}